<%= link_to('Logout', destroy_user_session_path, :method => :delete) %>

<h1>Welcome#index</h1>
<p>Find me in app/views/welcome/index.html.erb</p>

<hr>

<% unless user_signed_in? %>
  <%= form_for(:user, :url => session_path(:user)) do |f| %>
    <%= f.text_field :email %>
    <%= f.password_field :password %>
    <%= f.check_box :remember_me %>
    <%= f.label :remember_me %>
    <%= f.submit 'Sign in' %>
    <%= link_to "Forgot your password?", new_password_path(:user) %>
  <% end %>
<% end %>

<hr>

<%= form_for(@new_endpoint) do |f| %>
  <% if @new_endpoint.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@new_endpoint.errors.count, "error") %> prohibited this endpoint from being saved:</h2>

      <ul>
      <% @new_endpoint.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :url %><br>
    <%= f.text_field :url %>
  </div>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<hr>

<% @endpoints.each do |endpoint| %>
  <table>
    <thead>
      <tr>
        <th>Url</th>
        <th>Name</th>
        <th>User</th>
        <th>Refreshing?</th>
        <th>Screenshot</th>
        <th>Last Refresh</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td><%= endpoint.url %></td>
        <td><%= endpoint.name %></td>
        <td><%= endpoint.user.email %></td>
        <td><%= endpoint.refreshing? %></td>
        <td>
          <% unless endpoint.screenshot.nil? %>
            <%= link_to 'screenshot', endpoint.screenshot.url %>
          <% else %>
            not available
          <% end %>
        </td>
        <td>
          <% if endpoint.ever_successfully_refreshed? %>
            <%= endpoint.last_refreshed_at %>
          <% else %>
            not yet refreshed
          <% end %>
        </td>
        <td><%= link_to 'Refresh', refresh_endpoint_path(endpoint), method: :patch %></td>
        <td><%= link_to 'Destroy', endpoint, method: :delete, data: { confirm: 'Are you sure?' } %></td>

        <%= form_for(endpoint) do |f| %>
          <td>
            <%= f.label :name %>
            <%= f.text_field :name %>
          </td>
          <td>
            <%= f.submit %>
          </td>
        <% end %>
      </tr>
    </tbody>

  </table>

  <% unless endpoint.focus_view.nil? or endpoint.focus_view.focus_area.nil? %>
    <%= image_tag endpoint.focus_view.focus_area.url %>
  <% else %>
    not yet refreshed
  <% end %>

  <hr>
<% end %>