<div id="endpoints">
  <% @endpoints.each do |endpoint| %>
    <div class="endpoint-selector <%= endpoint.css_class %>">
      <span class="endpoint-name"><%= endpoint.name %></span>
    </div>
  <% end %>

  <div id="endpoint-new-selector">
    <span class="endpoint-name">+</span>
  </div>
  <div class="clear"></div>
</div>

<% @endpoints.each_with_index do |endpoint, index| %>
  <div class="endpoint-info one-of-many <%= endpoint.css_class %> <%= "selected-default" if index.zero? %>">
    <span class="endpoint-using">
      Using live web endpoint
      <span class="endpoint-url"><%= endpoint.url %></span>
      <span class="endpoint-url-change">change?</span>
    </span>

    <span class="endpoint-last-refresh">
      <% case endpoint.refresh_status %>
      <% when :failed %>
        <span class="endpoint-last-refresh-failed">Last refresh failed.</span>
      <% when :refreshing %>
        <span class="endpoint-last-refresh-refreshing">Refreshing...</span>
      <% when :idle %>
        <span class="endpoint-last-refresh-idle">Last refreshed <%= last_refreshed_ago endpoint %> ago.</span>
      <% when :never %>
        <span class="endpoint-last-refresh-never">Never refreshed.</span>
      <% end %>
    </span>

    <span class="endpoint-screenshot">
      <% unless endpoint.screenshot.nil? %>
        <%= link_to 'see page content at last refresh', endpoint.screenshot.url %>
      <% else %>
        not available
      <% end %>
    </span>

    <span class="endpoint-name-change"><a>[rename]</a></span>
    <span class="endpoint-refresh"><%= link_to '[refresh]', refresh_endpoint_path(endpoint), method: :patch %></span>
    <span class="endpoint-destroy"><%= link_to '[destroy]', endpoint, method: :delete, data: { confirm: 'Are you sure?' } %></span>

    <div class="endpoint-name-change-form">
           <%= form_for(endpoint) do |f| %>
              <%= f.label :name %>
              <%= f.text_field :name %>
              <%= f.submit %>
              <span class="endpoint-name-change-cancel"><a>[cancel]</a></span>
          <% end %>
    </div>
  </div>
<% end %>

<div id="endpoint-new" class="one-of-many <%= "selected-default" unless @endpoints.length > 0 %>">
  <%= form_for(@new_endpoint) do |f| %>
    <% if @new_endpoint.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@new_endpoint.errors.count, "error") %> prohibited this endpoint from being saved:</h2>

        <ul>
        <% @new_endpoint.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="endpoint-new-url">
      <%= f.label :url %><br>
      <%= f.text_field :url %>
    </div>
    <div class="endpoint-new-name">
      <%= f.label :name %><br>
      <%= f.text_field :name %>
    </div>
    <div class="endpoint-new-submit">
      <%= f.submit %>
    </div>
  <% end %>
</div>


<% @endpoints.each_with_index do |endpoint, index| %>
  <div class="views one-of-many <%= endpoint.css_class %> <%= "selected-default" if index.zero? %>">
    <div class="view view-focus">
      <span class="view-title">Focus</span>
      <span class="view-subtitle">see where users look</span>
      <span class="view-description">blah</span>
      <div class="view-content">
        <% unless endpoint.focus_view.nil? or endpoint.focus_view.focus_area.nil? %>
          <%= image_tag endpoint.focus_view.focus_area.url %>
        <% else %>
          not yet refreshed
        <% end %>
      </div>
    </div>

    <div class="view view-colour">
      <span class="view-title">Color</span>
      <span class="view-subtitle">see color palette of your page</span>
      <span class="view-description">blah</span>
      <div class="view-content">
        <% unless endpoint.colour_view.nil? or endpoint.colour_view.palette.nil? %>
          <%= image_tag endpoint.colour_view.palette.url %>
        <% else %>
          not yet refreshed
        <% end %>
      </div>
    </div>

  </div>
<% end %>