<div id="endpoints">
  <% @endpoints.each do |endpoint| %>
    <div class="endpoint-selector <%= endpoint.css_class %>">
      <span class="endpoint-name"><%= endpoint.name %></span>
    </div>
  <% end %>

  <div class="endpoint-new-selector">
    +
  </div>
</div>

<% @endpoints.each_with_index do |endpoint, index| %>
  <div class="endpoint-info one-of-many <%= endpoint.css_class %> <%= "selected-default" if index.zero? %>">
    Name: <span class="endpoint-name"><%= endpoint.name %></span>
    URL: <span class="endpoint-url"><%= endpoint.url %></span>
    Status: <span class="endpoint-status"><%= endpoint.refresh_status %></span>

    <span class="endpoint-last-refresh">
      <% if endpoint.ever_successfully_refreshed? %>
        Last refreshed at <%= endpoint.last_refreshed_at %>
      <% else %>
        not yet refreshed
      <% end %>
    </span>

    <span class="endpoint-screenshot">
      <% unless endpoint.screenshot.nil? %>
        <%= link_to 'screenshot', endpoint.screenshot.url %>
      <% else %>
        not available
      <% end %>
    </span>

    <span class="endpoint-refresh"><%= link_to 'Refresh', refresh_endpoint_path(endpoint), method: :patch %></span>
    <span class="endpoint-destroy"><%= link_to 'Destroy', endpoint, method: :delete, data: { confirm: 'Are you sure?' } %></span>

          <%= form_for(endpoint) do |f| %>
            <td>
              <%= f.label :name %>
              <%= f.text_field :name %>
            </td>
            <td>
              <%= f.submit %>
            </td>
          <% end %>

  </div>
<% end %>

<div id="endpoint-new" class="one-of-many <%= "selected-default" unless @endpoints.length > 0 %>">
  <%= form_for(@new_endpoint) do |f| %>
    <% if @new_endpoint.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@new_endpoint.errors.count, "error") %> prohibited this endpoint from being saved:</h2>

        <ul>
        <% @new_endpoint.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="endpoint-new-url">
      <%= f.label :url %><br>
      <%= f.text_field :url %>
    </div>
    <div class="endpoint-new-name">
      <%= f.label :name %><br>
      <%= f.text_field :name %>
    </div>
    <div class="endpoint-new-submit">
      <%= f.submit %>
    </div>
  <% end %>
</div>


<% @endpoints.each_with_index do |endpoint, index| %>
  <div class="views one-of-many <%= endpoint.css_class %> <%= "selected-default" if index.zero? %>">
    <div class="view view-focus">
      <% unless endpoint.focus_view.nil? or endpoint.focus_view.focus_area.nil? %>
        <%= image_tag endpoint.focus_view.focus_area.url %>
      <% else %>
        not yet refreshed
      <% end %>
    </div>

    <div class="view view-colour">
      not yest implemented
    </div>

  </div>
<% end %>