<!DOCTYPE html>
<html>
<head>
  <!-- These three meta tags must come first. -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Legibil</title>

  <!-- Analytics -->
  <meta name="p:domain_verify" content="fe8e3eca306537f4bc65250c1dc96833"/>

  <!-- Bootstrap -->
  <link rel="stylesheet" href="<%= remote_resource 'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css' %>" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <link rel="stylesheet" href="<%= remote_resource 'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css' %>" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

  <!-- Icons -->
  <link rel="stylesheet" href="<%= remote_resource 'https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css' %>">

  <!-- Fonts -->
  <link href="<%= remote_resource 'https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,400italic,600,700,900' %>" rel="stylesheet" type="text/css">
  <link href="<%= remote_resource 'https://fonts.googleapis.com/css?family=Source+Code+Pro:400,500,600,700' %>" rel="stylesheet" type="text/css">

  <!-- Site styling and javascripts, overriding the above vendor packages -->
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

</head>
<body>

<%= notice %>
<%= alert %>

<div id="header">
  <a href="/">
    <img id="logo">
  </a>
  <div id="right">
    <ul id="header-links">
      <li><a href="/">Endpoints</a></li>
      <li><a href="/help">Help</a></li>
      <li><a href="/contact">Contact</a></li>
      <li><a href="/profile">Profile</a></li>
    </ul>

    <div id="login-status">
      <% unless user_signed_in? %>
        <div id="not-logged-in">
          <%= form_for(:user, :url => session_path(:user)) do |f| %>
            <%= f.text_field :email %>
            <%= f.password_field :password %>
            <%= f.submit 'Sign in' %>
            <span id="remember-forgot">
              <%= f.check_box :remember_me %>
              <span id="remember-me">remember?</span>
              |
              <%= link_to "forgot", new_password_path(:user) %>
            </span>
          <% end %>
        </div>

      <% else %>
          <div id="logged-in">
            <div id="logged-in-text">
              <span id="welcome">Welcome, <%= current_user.email %>!</span>
              <span id="logout"><%= link_to('Sign out?', destroy_user_session_path, :method => :delete) %></span>
            </div>
              <a href="/profile">
                <img id="user-avatar">
              </a>
          </div>
      <% end %>
  </div>
</div>

<div id="content">
  <%= yield %>
</div>

<div id="footer">
  <ul id="footer-links">
      <li><a href="/help">Help</a></li>
      <li><a href="/contact">Contact</a></li>
      <li><a href="/legal">Legal</a></li>
  </ul>

  <div id="right">
    <span id="made-by">Made by <a href="http://beneills.com">Ben Eills</a> on <a href="https://github.com/beneills/legibil">Github</a>.</span>
    <img id="creator-avatar">

    <!-- Follow buttons via addtoany.com -->
    <div id="follow-buttons" class="a2a_kit a2a_kit_size_32 a2a_default_style a2a_follow">
        <a class="a2a_button_github" data-a2a-follow="beneills/legibil"></a>
        <a class="a2a_button_twitter" data-a2a-follow="LegibilDesign"></a>
        <a class="a2a_button_pinterest" data-a2a-follow="legibil"></a>
        <a class="a2a_button_facebook" data-a2a-follow="Legibil"></a>
<!--        <a class="a2a_button_youtube_channel" data-a2a-follow="UCKIE7vZM46ZpNxmKBef3zCA"></a> -->
    </div>
    <script async src="https://static.addtoany.com/menu/page.js"></script>

  </div>

  <div class="clear"></div>
</div>

<script src="<%= remote_resource 'https://code.jquery.com/jquery-1.12.0.min.js' %>"></script>

<!-- Bootstrap -->
<script src="<%= remote_resource 'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js' %>" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

<!-- Analytics -->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-37058894-2', 'auto');
  ga('send', 'pageview');
</script>

</body>
</html>
