<!DOCTYPE html>
<html>
<head>
  <!-- These three meta tags must come first. -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>UX</title>

  <!-- Bootstrap -->
  <link rel="stylesheet" href="<%= remote_resource 'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css' %>" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <link rel="stylesheet" href="<%= remote_resource 'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css' %>" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

  <!-- Icons -->
  <link rel="stylesheet" href="<%= remote_resource 'https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css' %>">

  <!-- Fonts -->
  <link href="<%= remote_resource 'https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,400italic,600,700,900' %>" rel="stylesheet" type="text/css">
  <link href="<%= remote_resource 'https://fonts.googleapis.com/css?family=Source+Code+Pro:400,500,600,700' %>" rel="stylesheet" type="text/css">

  <!-- Site styling and javascripts, overriding the above vendor packages -->
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

</head>
<body>

<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<div id="header">
  <img id="logo">
  <div id="right">
    <ul id="links">
      <li><a href="#">Endpoints</a></li>
      <li><a href="#">Help</a></li>
      <li><a href="#">Contact</a></li>
      <li><a href="#">Account</a></li>
    </ul>

    <% unless user_signed_in? %>
      <div id="not-logged-in">
        <span id="welcome">Welcome, Guest!</span>

        <%= form_for(:user, :url => session_path(:user)) do |f| %>
          <%= f.text_field :email %>
          <%= f.password_field :password %>
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
          <%= f.submit 'Sign in' %>
          <%= link_to "Forgot your password?", new_password_path(:user) %>
        <% end %>
      </div>

    <% else %>
      <div id="login-status">
        <div id="logged-in">
          <span id="welcome">Welcome, <%= current_user.email %>!</span>
          <span id="logout"><%= link_to('Logout', destroy_user_session_path, :method => :delete) %></span>
          <img id="user-avatar">
        </div>

    <% end %>
  </div>
</div>

<div id="content">
  <%= yield %>
</div>

<div id="footer">
  <ul id="links">
      <li><a href="#">Help</a></li>
      <li><a href="#">Contact</a></li>
      <li><a href="#">Legal</a></li>
  </ul>

  <div id="right">
    <span id="made-by">Made by <a href="http://beneills.com">Ben Eills</a> on <a href="https://github.com/beneills/ux">Github</a>.</span>
    <img id="creator-avatar">
  </div>
</div>

<script src="<%= remote_resource 'https://code.jquery.com/jquery-1.12.0.min.js' %>"></script>

<!-- Bootstrap -->
<script src="<%= remote_resource 'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js' %>" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

</body>
</html>
